div {
    height: auto;
    width: auto;
    margin-bottom: 5px ;
}
.caidau {
    margin: auto;
    text-decoration: none;
    color: black;
    padding:20px;
    border-bottom: 1px solid black;

}
.cai2 {
    color: aquamarine;
    padding:19px;
    text-decoration: none;
    border-bottom: 6px solid aquamarine;
}